name: Pylint

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      # - name: DVC run
      #   run: |
      #     dvc repro
      - name: Run pytest
        run: |
          pytest --junitxml=pytest-results.xml -cov=src
      - name: Upload pytest test results
        uses: actions/upload-artifact@v3
        with:
          name: pytest-results
          path: pytest-results.xml
      - name: Check coverage percentage
        run: |
          coverage run -m pytest
          coverage report --fail-under=80 
          coverage html 
        if: ${{ always() }}
      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        with:
          name: coverage-report
          path: htmlcov/
        if: ${{ always() }}
      - name: Analysing the code with DS Lint
        run: |
          pylint --load-plugins=dslinter ./src
      - name: Analysing the code with mllint
        run: |
          mllint run